*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-fam: 'Epilogue', sans-serif;
  --primary-fw: 700;
  --secondary-fw: 500;
  --paragraph-fs: 18px;
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-almost-white: hsl(0, 0%, 98%);
  --neutral-medium-gray: hsl(0, 0%, 41%);
  --neutral-almost-black: hsl(0, 0%, 8%);

}

img {
  display: block;
  max-width: 100%;
}

.App {
  min-height: 100vh;
  min-height: 100dvh;
  font-family: var(--font-fam);
  font-weight: var(--secondary-fw);
  font-size: var(--paragraph-fs);
  background-color: var(--neutral-almost-white);
  color: var(--neutral-almost-black);
}

.App > .container {
  width: min(90%, 80rem);
  margin-inline: auto;
}

.App > .container .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding-bottom: 5em;
}

.App > .container .wrapper .text > *:not(:first-child) {
  margin-top: 2em;
}

.App > .container .content .title {
  font-size: clamp(1em, 1em + 4vw, 4em);
}

.App > .container .content .btn {
  padding: .5em 1em;
  border-radius: .5em;
  background-color: var(--neutral-almost-black);
  color: var(--neutral-almost-white);
  border: 2px solid var(--neutral-almost-black);
  outline: transparent;
  font-size: 1.1em;
  transition: 0.3s ease;
}

.App > .container .content .btn:is(:hover, :focus-visible) {
  cursor: pointer;
  color: var(--neutral-almost-black);
  background-color: var(--neutral-almost-white);
}

.App > .container .content .clients {
  margin-top: 6em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.App > .container .hero-img {
  
  width: 100%;
  height: 600px;
  align-self: center;
  background-image: url("./images/image-hero-desktop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width:1000px) {
  .App > .container .wrapper {
    flex-direction: column-reverse;
    align-items: center;
    
  }

  .App > .container .content {
    text-align: center;
  }

  .App > .container .content .clients {
    margin-top: 3em;
    justify-content: center;
  }

  .App > .container .hero-img {
    background-image: url("./images/image-hero-mobile.png");
    min-height: 0;
    max-width: 100%;
    height: 300px;
    max-width: 100%;
    padding-left: 0;
  }
}