.Navbar {
    position: relative;
    padding-inline: 2em;
    display: flex;
    align-items: center;
    min-height: 100px;
    gap: 4em;
    --_gap: 2em;
}

.Navbar li > a {
    text-decoration: none;
    color: var(--neutral-medium-gray);
}

.Navbar ul {
    list-style: none;
}

.Navbar .brand-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    color: var(--neutral-medium-gray);
}

.Navbar .brand-inform {
    display: flex;
    gap: var(--_gap);
    align-items: center;
} 


.Navbar .brand-inform .dropdown-btn {
    display: flex;
    align-items: center;
    gap: .5em;
}

.Navbar .brand-inform .dropdown-menu {
    position: relative;
    z-index: 99;
}

.Navbar .brand-authen {
    display: flex;
    align-items: center;
    gap: var(--_gap);
}

.Navbar .dropdown-menu .icon-arrow {
    transition: 0.3s ease;
}

.Navbar .dropdown-menu .menu {
    position: absolute;
    display: none;
    padding-top: 2em;
    top: 0%;
    right: 0%;
    z-index: -1;
}

.Navbar .dropdown-menu .real-menu {
    width: max-content;
    padding: 1.5em;
    border-radius: 1em;
    background-color: var(--neutral-white);
    box-shadow: 0px 5px 10px var(--neutral-medium-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

.Navbar .dropdown-menu:is(:hover, :focus-visible) .menu{
    display: block;
}

.Navbar .dropdown-menu:is(:hover, :focus-visible) .icon-arrow{
    rotate: 180deg;
}

.Navbar .dropdown-menu .menu.shift-right {
    left: 0%;
}

.Navbar .dropdown-menu .sub-menu > a {
    display: flex;
    gap: .5em;
}

.Navbar .icon {
    width: 16px;
}

.Navbar .link.btn > a {

    padding: .5em 1em;
    border: 2px solid var(--neutral-medium-gray);
    border-radius: .5em;
}

.Navbar .link > a:is(:hover, :focus-visible), .Navbar .dropdown-btn:is(:hover, :focus-visible) {
    cursor: pointer;
    color: var(--neutral-almost-black);
}

.Navbar .link.btn > a:is(:hover, :focus-visible) {
    border: 2px solid var(--neutral-almost-black);
    color: var(--neutral-almost-black);
}

.Navbar .link.empty {
    display: none;
}

.Navbar .hamburger-btn {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .Navbar {
        justify-content: space-between;
    }

    .Navbar .hamburger-btn {
        display: block;
        z-index: 999;
    }

    .Navbar .brand-item {
        position: fixed;
        inset: 0 0 0 35%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 100px;
        padding-inline: 2em;
        background-color: var(--neutral-almost-white);
        transform: translateX(100%);
        z-index: 999;
        transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    .Navbar .brand-item.open {
        transform: translateX(0);
    }

    .Navbar .brand-item .brand-inform {
        flex-direction: column;
        align-self: flex-start;
        align-items: flex-start;
    }

    .Navbar .dropdown-menu .menu {
        position: static;
        padding-top: 0;
    }

    .Navbar .dropdown-menu .real-menu {
        width: max-content;
        padding: 1.5em 1.5em 0em 1.5em;
        border-radius: 0;
        background-color: unset;
        box-shadow: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1em;
    }

    .Navbar .brand-item .brand-authen {
        margin-top: 3em;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .Navbar .link.btn {
        text-align: center;
        align-self: stretch;
    }

    .Navbar .link.btn > a {
        display: block;
        width: 100%;
    }

    .Navbar .link.empty {
        display: block;
        pointer-events: none;
        opacity: 0;
    }

    .Navbar .dark-background {
        display: none;
    }

    .Navbar:has(.brand-item.open) .dark-background {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        min-height: 100vh;
        min-height: 100dvh;
        width: 100vw;
        background-color: rgba(0,0,0,0.3);
        z-index: 9;
    }
}
